<div class="adminPanel">
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link shadow " asp-controller="Home" asp-action="Index">
                <i class="fas fa-fw fa-table"></i>
                <span class="">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow " asp-controller="User" asp-action="List">
                <i class="fas fa-fw fa-table"></i>
                <span class="">Kullanıcılar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow " asp-controller="Role" asp-action="Index">
                <i class="fas fa-fw fa-table"></i>
                <span class="">Roller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow " asp-controller="Product" asp-action="List">
                <i class="fas fa-fw fa-table"></i>
                <span class="">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow " asp-controller="Comment" asp-action="List">
                <i class="fas fa-fw fa-table"></i>
                <span class="">Yorumlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow " asp-controller="Contact" asp-action="Index">
                <i class="fas fa-fw fa-table"></i>
                <span class="">Mesajlar</span>
            </a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow " asp-controller="Contact" asp-action="Index">
                <i class="fas fa-fw fa-table"></i>
                <span class="">Siparişler</span>
            </a>
        </li>

    </ul>
</div>