<div class="dropdown p-2">
    <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-fa bi bi-cart-dash fs-4"></i>
        <span
            class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-dark backet-badge-size border">
            12
        </span>
    </a>
    <div class="dropdown-menu window shadow p-2 dropdown-cart">
        @* @if (!Model.Any())
        {*@
        <div>
            <div class="alert alert-secondary p-4" colspan="12" role="alert">
                <i class="fa-solid fa-exclamation"></i>
                Sepetinizde ürününüz yok!
            </div>
        </div>
        @* } *@

        <table class="table table-hover">
            <thead>
                <tr class="text-align-center p-1">
                    <th> </th>
                    <th class="text-align-center" rowspan="2">
                        Kitap Adı
                    </th>
                    <th class="">
                        Adet
                    </th>
                    <th class="">
                        Fiyat
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-align-center p-1">
                    <td class="img text-center">
                        <img class="backet-img" src="https://via.placeholder.com/60x60" alt="Ürun resmi">
                    </td>
                    <td class="text-align-center">
                        Elbise
                    </td>
                    <td class="">
                        1
                    </td>
                    <td class="">
                        ₺ 1.400,90
                    </td>
                </tr>
                <tr class="text-align-center p-1">
                    <td class="img text-center">
                        <img class="backet-img" src="https://via.placeholder.com/60x60" alt="Ürun resmi">
                    </td>
                    <td class="text-align-center">
                        Elbise
                    </td>
                    <td class="">
                        1
                    </td>
                    <td class="">
                        ₺ 1.400,90
                    </td>
                </tr>
                <tr class="text-align-center p-1">
                    <td class="img text-center">
                        <img class="backet-img" src="https://via.placeholder.com/60x60" alt="Ürun resmi">
                    </td>
                    <td class="text-align-center">
                        Elbise
                    </td>
                    <td class="">
                        1
                    </td>
                    <td class="">
                        ₺ 1.400,90
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row py-auto p-1 px-4 fw-bolder justify-content-end">
            Genel Toplam : ₺ 2.400,90
        </div>
        <div class="row d-flex text-align-center p-1 px-3">
            <a class="btn btn-sm btn-dark text-light col" asp-action="Delete">Sepete Git</a>
            <a class="btn btn-sm btn-outline-dark col" asp-action="Delete">Siparişi Tamamla</a>
        </div>

    </div>
</div>
