<div class="bg-dark p-4 mt-3 bottom-0">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div
                    class="d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                    <div class="footer-list">
                        <div class="footer-item p-3">
                            <a asp-controller="Home" asp-action="Index">
                                <span>Anasayfa</span>
                            </a>
                        </div>
                        <div class="footer-item p-3">
                            <a asp-controller="Home" asp-action="AboutUs">
                                <span>Hakkımızda</span>
                            </a>
                        </div>
                        <div class="footer-item p-3">
                            <a asp-controller="Home" asp-action="Contact">
                                <span>İletişim</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                    <div class=""><a href="#"><i class="social fa fa-facebook"></i></a></div>
                    <div class=""><a href="#"><i class="social fa fa-twitter"></i></a></div>
                    <div class=""><a href="#"><i class="social fa fa-instagram"></i></a>
                    </div>
                    <div class=""><a href="#"><i class="social fa fa-skype"></i></a>
                    </div>
                    <div class=""> <a href="#"><i class="social fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="text-center text-light mb-2">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Ayşenur AYDIN
                <i class="fa fa-heart" aria-hidden="true" style="color: #fff !important;"></i>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-lg-center justify-content-center">
                <a href="#" class="m-1">
                    <img src="/assets/img/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-1">
                    <img src="/assets/img/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-1">
                    <img src="/assets/img/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-1">
                    <img src="/assets/img/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-1">
                    <img src="/assets/img/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

        </div>
    </div>
</div>

@section Styles {
    <style>
        .social:hover {}
    </style>
}
