<div class="navbar navbar-expand-lg bg-body-tertiary navbar-height">
    <div class="container">
        <a class="navbar-brand" href="#">AYDIN</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-5">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    @* <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <span>Kategoriler</span>
                    </a> *@
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Kategoriler <i class="bi bi-chevron-down"></i>
                    </a>
                    @await Component.InvokeAsync("Categories", "dropdown")
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span>Hakkımızda</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span>İletişim</span>
                    </a>
                </li>
            </ul>
            <div class="search-width">
                @await Html.PartialAsync("_Search")
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex flex-row">
            @await Html.PartialAsync("_Account")
            @await Html.PartialAsync("_Favorites")
            @await Html.PartialAsync("_Cart")
        </div>
    </div>
</div>
