<div class="navbar navbar-expand-lg bg-body-tertiary navbar-height">
    <div class="container">
        <a class="navbar-brand" href="#">AYDIN</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-5">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    @* <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <span>Kategoriler</span>
                    </a> *@
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Kategoriler <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        @* <li>
                        <hr class="dropdown-divider">
                        </li> *@
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span>Hakkımızda</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span>İletişim</span>
                    </a>
                </li>
            </ul>
            <div class="search-width">
                @await Html.PartialAsync("_Search")
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex flex-row">
            <div class="dropdown p-2">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user fs-4"></i>
                </a>
                <ul class="dropdown-menu window">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <div class="dropdown p-2">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-heart fs-4"></i>
                </a>
                <ul class="dropdown-menu window">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <div class="dropdown p-2">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-cart-dash fs-4"></i>
                    <span
                        class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-dark backet-badge-size border">
                        12
                    </span>
                </a>
                <ul class="dropdown-menu window">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
