<form class="d-flex search" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
        style="min-width: 200px !importan;">
    <button class="btn btn-outline-dark" type="submit">
        <i class="bi bi-search"></i>
    </button>
</form>
