<nav class="container-fluid bg-dark p-1">
    <div class="container">
        <div class="d-flex justify-content-between px-4">
            <div class="text-light h-6">
                <i class="fa-solid fa-headset"> </i>
                Müşteri destek: <b>0 850 000 00 00</b>
            </div>
            <div class="text-light fs-6 px-4">
                User
            </div>
        </div>
    </div>
</nav>