@model Product


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Sil" class="btn btn-outline-danger" /> |
    <a asp-action="Index">Listeye Dön</a>
</form>